body {
    font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: auto;
    max-width: 1210px;
    /* background-color: brown; */
}

h3 {
    font-size: 2.8em;
    line-height: 60px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.article-p {
    line-height: 1.8em;
    font-weight: 300;
    margin-bottom: 30px;
}

.article-a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    font-weight: 500;
}


/* ----------- HEADER ------------ */

#header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    letter-spacing: 1px;
}

#header h1 {
    display: inline-block;
    text-indent: -9999999px;
}

#logo {
    position: absolute;
    left: 30px;
    padding: 25px 0;
}

#header a {
    text-transform: uppercase;
    color: #f1f4f4;
}

#header nav {
    text-align: center;
    padding: 10px;
}

#menu {
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    font-weight: 600;
}

#menu a {
    padding: 20px 18px;
}

#header-book {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 15px 20px;
    margin: 15px 10px;
    font-size: 0.8em;
    font-weight: 600;
    background-color: black;
}

/* ----------- HEADER ------------ */

/* --------------LOOK GOOD------------- */
#look-good {
    display: flex;
    height: 100vh;
}

#look-good-left {
    display: flex;
    width: 50vw;
    height: 100vh;
    padding-right: 40px;
    background-color: rgb(37, 37, 37);
}

#look-good-article {
    width: auto;
    height: auto;
    margin: auto;
    padding: 100px 15% 100px 35%;
    color: #f1f4f4;
}

#look-good-article h2 {
    font-size: 3.5em;
    font-weight: bolder;
    line-height: 1.3em;
    margin-bottom: 20px;
}

#look-good-article p {
    font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 2em;
    color: #cccccc;
    padding-bottom: 30px;
}

#look-good-article a {
    text-decoration: none;
    color: rgba(254, 233, 218, 1);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 700;
}

#look-good-right {
    width: 50vw;
    height: 100vh;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

/* --------------LOOK GOOD------------- */

/* --------------TRENDY------------- */


#trendy {
    display: flex;
    height: 700px;
    align-items: center;
    /* justify-items: center; */
}

#trendy-article {
    margin: 0 80px 0 0;
}

#trendy img {
    margin-right: 10px;
    width: 680px;
}

/* --------------TRENDY------------- */

/* -------------- GOT STARTED ------------- */

#got-started {
    display: flex;
    align-items: center;
    height: 950px;
    background-color:rgb(255, 235, 220);
}

#got-started > div {
    background-color: white;
}

#got-started-article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    padding: 60px 80px;
}

#got-started img {
    width: 500px;
}

#got-started-text {
    margin-left: 50px;
}


/* -------------- GOT STARTED ------------- */

